.start-img {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-animation: opacity ease-in .35s;
	transition: opacity ease-in .35s;
}

.start-img.show {
	opacity: 1;
}

.process-bar {
	left: 25vw;
	bottom: 8vh;
	right: 25vw;
	width: 50vw;
	height: 1vw;
	background-image: url('../../../img/progress-bar.png');
}

.process-bar .bar-left {
	left: 21.8vw;
	bottom: 4vw;
	width: 4vw;
	height: 2.48vw;
	background-image: url('../../../img/bar-left.png');
}

.process-bar .bar-right {
	right: 21.8vw;
	bottom: 4vw;
	width: 4vw;
	height: 2.48vw;
	background-image: url('../../../img/bar-right.png');
}

.process-bar .rate {
	bottom: 8.1vh;
    left: 25vw;
    width: 0;
    height: 0.85vw;
	background-image: url(../../../img/rate.png);
	background-repeat: repeat-x;
	background-size: 100% 100%;
}

.loaded {
	left: 50%;
	bottom: 7.5vw;
	width: 8vw;
	height: 2.8vw;
	margin-left: -3.5vw;
	transform: translateX(-50%);
	background-image: url('../../../img/loaded.png');
}

.loaded .loaded-rate {
	width: 7vw;
	margin-left: 8vw;
	text-align: center;
	font-size: 2.5vw;
}